{% extends 'blog/basic.html' %}
{%block title%}AboutPage{%endblock%}



  {%block css%}
	.img-fluid {
    	max-width: 45%;
    	height: auto;
	}

  {%endblock%}



{%block body%}
{%load static%}
<!--<img src="{%static 'blog/vipin1.jpg' %}" class="img-fluid" alt="Responsive image">-->

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
<div class="container ">
  	
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative shadow">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Founder</strong>
          <h3 class="mb-0">Tanuj Rawat</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block mx-5">
        <img src="https://source.unsplash.com/600x500/?Coding" class="img-fluid" alt="">     
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative shadow">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Co-Founder</strong>
          <h3 class="mb-0">Vipin Dodke</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block mx-5">
        <img src="https://source.unsplash.com/600x500/?Electronic"  class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>

</div>










{%endblock%}
